[submodule "www"]
	path = www
	url = https://github.com/alejandro-colomar/www.git
[submodule "dns"]
	path = dns
	url = https://github.com/alejandro-colomar/dns.git
[submodule "nlb"]
	path = nlb
	url = https://github.com/alejandro-colomar/nlb.git
